#block_game {
    padding: 2vmax;
}

#game_info_back,
#game_info_score,
#game_info_timer {
    display: inline-block;
    margin: auto;
    min-width: 20%;
    line-height: 4vh;
    font-size: 3vh;
    padding-top: 1vh;
}

#game_info_back {
    float: left;
}

#game_info_timer {
    float: right;
}

#game_info {
    margin-bottom: 3%;
}

#game_content_color_text {
    font-size: 6vh;
    line-height: 9vh;
    margin: 2vmin;
}

#game_content_math_question {
    text-align: center;
    border: 1px solid grey;
    background-color: rgb(247, 247, 247);
    width: fit-content;
    min-width: 22%;
    margin: auto;
    margin-bottom: 2vh;
    padding: 1vh 10vw 1vh 10vw;
    margin-top: 2vh;
}

#game_hint {
    text-align: left;
    font-size: smaller;
    margin: auto;
    width: fit-content;
}

#game_hint p {
    margin: 1vh 0 1vh 0;
}

.multiple_choice {
    width: 17vh;
    height: 17vh;
    display: inline-block;
    margin: 5px;
    margin-bottom: 10px;
    transition: .3s;
}

.multiple_choice:hover {
    transform: scale(1.05);
    border: none;
}

#game_answer {
    margin-top: 3vh;
}


/* @media only screen and (max-device-width: 450px),
screen and (max-width: 450px) {
#game_info_back,
#game_info_score,
#game_info_timer {
    font-size: 250%;
}
#game_content_color_text {
    font-size: 500%;
    line-height: 150%;
    height: 150%;
    width: 80%;
    margin: auto;
    margin-top: 10%;
}
#game_content_math_question {
    margin: auto;
    margin-top: 3%;
    font-size: 300%;
}
#game_hint {
    font-size: 220%;
    margin-top: 1%;
    margin-bottom: 1%;
}
#game_hint p {
    margin-bottom: 0px;
    margin-top: 1%;
}
#game_answer {
    margin-top: 15%;
}
.multiple_choice {
    margin: 10px;
    width: 280px;
    height: 280px;
}
}

@media only screen and (max-device-width: 330px),
screen and (max-width: 330px) {
.multiple_choice {
    margin: 10px;
    width: 360px;
    height: 360px;
}
} */