#user_panel_container {
    display: flex;
    width: 100%;
    align-items: center;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    text-align: center;
}

#user_panel {
    background: white;
    width: 50vh;
    max-width: 70vw;
    height: 60vh;
    margin: auto;
    border-radius: 10px;
}

#user_panel_close {
    background-color: #eaeaea;
    float: right;
    height: 4vh;
    width: 4vh;
    transition: .3s;
    border-radius: 10px;
    border: 3px solid white;
}

#user_panel_close:hover {
    background-color: rgb(255, 146, 146);
}

.user_panel_submit {
    display: none;
    transition: .3s;
    margin: auto;
    margin-top: 4vh;
    line-height: 4vh;
    font-size: 3vh;
    border: 1px solid grey;
    width: fit-content;
    padding: 1vh 4vw 1vh 4vw;
    background-color: rgb(247, 247, 247);
}

.user_panel_submit:hover {
    background-color: rgb(255, 255, 242);
}

#user_panel_form {
    margin-top: 4vh;
    display: inline-flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.user_panel_form_input {
    line-height: 4vh;
    font-size: 3vh;
    width: 80%;
    font-family: 'ZhuZi';
}

.user_panel_form_label {
    margin-bottom: 1vh;
    margin-top: 2vh;
    font-size: 4vh;
}